* {
    margin: 0 auto;
    padding: 0;
  }

  /* Fob Mobile devices */
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  body {
    width: 100%;
    margin: 0 auto;

  }
   .container-image {
    width: 240px;
    height: 240px;
    display: block;
    float: left;
    margin-left: 15%;
    }
  
  /* search bar & footer */
  body {
    background-image: linear-gradient(to right , #00F260 ,#0575E6);
  }
  .result-count {
    display: none;
  }
  
  .searchBox {
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: black;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
  }
  .searchBox > .searchInput {
    width: 240px;
    padding: 0 6px;
  }
  footer.clearfix {
    float: left;
    color: black;
    margin-left: 7rem;
  }
  a {
    color: azure;
  }